body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#orderForm {
    background-color: #4a9bf8;
    border: 6px solid rgb(255, 0, 255);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    box-shadow: 10px 10px 5px #2cf105;
}