#myName {
    color: blue;
}

#aboutMe {
    color: red;
}

#changeList {
    background-color: green;
    color: turquoise
}

#button {
    background-color: powderblue;
}

#button {
    color: black;
}